@model Tuple<List<CapstoneWine.Models.SubscriptionsModel>, List<CapstoneWine.Models.WinesModel>, List<CapstoneWine.Models.OrdersModel>>

<link rel="stylesheet" href="~/css/admin.css" />

@{
	ViewData["Title"] = "Admin";
}

<div id="dashboard">
	<div id="sidebar">
		<ul>
			<li><a class="table-title" onclick="showOrdersTable()">Orders</a></li>
			<li><a class="table-title" onclick="showSubscriptionsTable()">Subscriptions</a></li>
			<li><a class="table-title" onclick="showWinesTable()">Wines</a></li>
		</ul>
	</div>
	@*<h1>Welcome to the Admin Dashboard</h1>*@
	<div id="content">

		<div id="ordersTable">
			<table>
				<a class="table-title" asp-controller="Orders" asp-action="Index">Orders</a>
				<thead>
					<tr>
						<th>ID</th>
						<th>Order Date</th>
						<th>User ID</th>
						<th>Wine ID</th>
						<th>Subscription ID</th>
						<th>Quantity</th>
						<th>Delivery Address</th>
						<th>Delivery Charge</th>
						<th>Total Cost</th>
						<th>Order Status</th>
						<th>Reward Points</th>
					</tr>
				</thead>

				<tbody>
					@foreach (var order in Model.Item3)
					{
						<tr>
							<td>@order.OrderID</td>
							<td>@order.OrderDate</td>
							<td>@order.UserID</td>
							<td>@order.WineID</td>
							<td>@order.SubID</td>
							<td>@order.Quantity</td>
							<td>@order.DeliveryAdd</td>
							<td>@order.DeliveryCharge</td>
							<td>@order.TotalCost</td>
							<td>@order.OrderStatus</td>
							<td>@order.RewardPoints</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		<div id="subscriptionsTable">
			<table>
				<a class="table-title" asp-controller="Subscriptions" asp-action="Index">Subscriptions</a>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Type</th>
						<th>Frequency</th>
						<th>Number of Bottles</th>
						<th>Reward Points</th>
					</tr>
				</thead>

				<tbody>
					@foreach (var subscription in Model.Item1)
					{
						<tr>
							<td>@subscription.SubID</td>
							<td>@subscription.SubName</td>
							<td>@subscription.Type</td>
							<td>@subscription.Frequency</td>
							<td>@subscription.NumOfBottles</td>
							<td>@subscription.RewardPoints</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		<div id="winesTable">
			<table class="wines-table">
				<a class="table-title" asp-controller="Wines" asp-action="Index">Wines</a>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th class="hide-overflow">Image</th>
						<th>Price</th>
						<th class="blurb-col">Blurb</th>
						<th>Quantity</th>
						<th>Type</th>
						<th>Category</th>
					</tr>
				</thead>

				<tbody>
					@foreach (var wine in Model.Item2)
					{
						<tr>
							<td>@wine.WineID</td>
							<td>@wine.WineName</td>
							<td class="hide-overflow">@wine.Image</td>
							<td>@wine.Price</td>
							<td class="blurb-col">@wine.Blurb</td>
							<td>@wine.Quantity</td>
							<td>@wine.Type</td>
							<td>@wine.Category</td>
						</tr>
					}
				</tbody>
			</table>
		</div>


	</div>
</div>

<script src="~/js/admin.js"></script>