<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
@model Tuple<List<CapstoneWine.Models.SubscriptionsModel>, List<CapstoneWine.Models.WinesModel>, List<CapstoneWine.Models.OrdersModel>, List<CapstoneWine.Models.CustomerModel>>
<link rel="stylesheet" href="~/css/dashboard.css" />
@{
	ViewData["Title"] = "Admin";
	var userCountStr = ViewData["UserCount"].ToString();
	int userCount = Convert.ToInt32(userCountStr);

	var wineCountStr = ViewData["WineCount"].ToString();
	int wineCount = Convert.ToInt32(wineCountStr);

	var adminCountStr = ViewData["AdminCount"].ToString();
	int adminCount = Convert.ToInt32(adminCountStr);

	var pendingOrdersStr = ViewData["pendingOrders"].ToString();
	int pendingOrders = Convert.ToInt32(pendingOrdersStr);

}

<section class="dashboard">

	<section class="sidebar">
		<div class="menu-area fs-big">Hello Admin</div>
		<a><div class="menu-area">Dashboard</div></a>
		<div class="menu-area">
			<a asp-controller="Orders" asp-action="Index"><div class="menu-link">Orders</div></a>
			<a asp-controller="Subscriptions" asp-action="Index"><div class="menu-link">Subscriptions</div></a>
			<a asp-controller="Wines" asp-action="Index"><div class="menu-link">Wines</div></a>
			<a asp-controller="Customer" asp-action="Index"><div class="menu-link">Customers</div></a>
		</div>

	</section>

	<section class="content">
		<h5>Dashboard</h5>
		<div class="top-wrapper">
			<div class="info-tab">
				<span class="tab-title">Earnings (Monthly)</span>
				<span class="tab-value">$800.00</span>
				<i class="tab-icon"><img src="~/Images/dollar-symbol.png" /></i>
			</div>
			<div class="info-tab">
				<span class="tab-title">Earnings (Weekly)</span>
				<span class="tab-value">$200.00</span>
				<i class="tab-icon"><img src="/Images/dollar-symbol.png" /></i>
			</div>
			<a class="info-tab" asp-controller="Customer" asp-action="Index">
				<span class="tab-title">Users</span>
				<span class="tab-value">@userCount</span>
				<i class="tab-icon"><img src="/Images/user.png" /></i>
			</a>
			<a class="info-tab" asp-controller="Orders" asp-action="Index">
				<span class="tab-title">Pending Orders</span>
				<span class="tab-value">@pendingOrders</span>
				<i class="tab-icon"><img src="~/Images/order.png" /></i>
			</a>
		</div>

		<div class="mid-wrapper">
			<div class="sales-chart">
				<canvas id="salesChart"></canvas>
			</div>
			<div class="user-pie-graph">
				<canvas id="userPieChart" style="width: 100%; max-width: 400px;"></canvas>
			</div>
		</div>


		<div class="bottom-wrapper">
			<h5>Users</h5>
			<div class="user-row header">
				<div class="user-col">First Name</div>
				<div class="user-col">Last Name</div>
				<div class="user-col">City</div>
				<div class="user-col">Suburb</div>
				<div class="user-col">Street Address</div>
			</div>
			@foreach (var user in Model.Item4.Take(3))
			{
				<div class="user-row">
					<div class="user-col">@user.FirstName</div>
					<div class="user-col">@user.LastName</div>
					<div class="user-col">@user.City</div>
					<div class="user-col">@user.Suburb</div>
					<div class="user-col">@user.StreetAddress</div>
				</div>
			}
			<a asp-controller="Customer" asp-action="Index" class="link">See more...</a>
		</div>

	</section>

</section>







<script>
	function showSubscriptionsTable() {
		document.getElementById("subscriptionsTable").style.display = "block";
		document.getElementById("winesTable").style.display = "none";
		document.getElementById("ordersTable").style.display = "none";
	}

	function showWinesTable() {
		document.getElementById("subscriptionsTable").style.display = "none";
		document.getElementById("winesTable").style.display = "block";
		document.getElementById("ordersTable").style.display = "none";
	}

	function showOrdersTable() {
		document.getElementById("subscriptionsTable").style.display = "none";
		document.getElementById("winesTable").style.display = "none";
		document.getElementById("ordersTable").style.display = "block";
	}

	// User Pie Chart //
	var userTypes = ["Registered", "Subscribed", "Admin"];
	var typeCount = [@userCount, 2, @adminCount];
	var barColors = [
		"#b91d47",
		"#00aba9",
		"#2b5797"
	];

	new Chart("userPieChart", {
		type: "doughnut",
		data: {
			labels: userTypes,
			datasets: [{
				backgroundColor: barColors,
				data: typeCount
			}]
		},
		options: {
			title: {
				display: true,
				text: "All Users"
			}
		}
	});




	// Sales Line Graph
	const weeks = [1, 2, 3, 4, 5, 6, 7, 8];
	const salesNum = [10, 30, 10, 30, 50, 60, 60, 80];

	new Chart("salesChart", {
		type: "line",
		data: {
			labels: weeks, // x-axis
			datasets: [{
				fill: false,
				lineTension: 0,
				backgroundColor: "rgba(0,0,255,1.0)",
				borderColor: "rgba(0,0,255,0.1)",
				data: salesNum  // y-axis
			}]
		},
		options: {
			legend: { display: false },
			scales: {
				yAxes: [{
					ticks: { min: 0, max: 90 },
					scaleLabel: {
						display: true,
						labelString: "Sales Amount" // y-axis title
					}
				}],
				xAxes: [{
					scaleLabel: {
						display: true,
						labelString: "Weeks" // x-axis title
					}
				}]
			},
			title: {
				display: true,
				text: "Sales per week"
			}
		}
	});




</script>