<link rel="stylesheet" href="~/css/sub.css" asp-append-version="true" />
@model CapstoneWine.Models.ViewModels.SubViewModel

@{
	ViewData["Title"] = "Subscriptions";
}
<div class="hype_box bk_blur_lt" style="overflow:visible; margin-bottom:1vw;">
	<div>
		<h2 class="boldTitle" style="font-size:4vw">Customise Your Subscription</h2>
	
		@*One*@
		<div class="side_ish">
			<div class="iconBox" style="margin-left:-55px">
				<img class="icon_r" src="~/images/icons/select.jpg" />
			</div >
			<div style ="flex-direction:column">
				<p class="boldTitle" style="font-size:2.5vw">Select your wine type</p>
				<p class ="divaText" style="font-size:1.3vw">Choose what kind of wine you would like to recieve.<br />
				Reds? White? or the best of both worlds - Mixed</p>
			</div>
		</div>
		
		@*two*@
		<div class="side_ish">
			<div class="iconBox" style="margin-left:-55px">
				<img class="icon_r" src="~/images/icons/how_many.jpg" />
			</div>
			<div style ="flex-direction:column">
				<p class="boldTitle" style="font-size:2.5vw">How many Bottles for each delivery?</p>
				<p class="divaText" style="font-size:1.3vw">Subscription bargans are not just for those<br /> who can buy their wine by the case,
					you can choose<br /> between 3, 6 or 12 bottles per delivery</p>
			</div>
		</div>
		
		@*Three*@
		<div class="side_ish">
			<div class="iconBox" style="margin-left:-55px">
				<img class="icon_r" src="~/Images/icons/img17.jpg" />
			</div>
			<div style="flex-direction:column">
			<p class="boldTitle" style="font-size:2.5vw">How often should we deliver?</p>
			<p class="divaText" style="font-size:1.3vw">Let us know often you would to recieve deliveries?<br />
				We can delivery every 3 or six months or once per year</p>
			</div>
		</div>

	</div>

	<div class="bk_blur" style="margin-bottom:2vw">
		<h2 class="boldTitle" style="line-height:7rem" >How it works</h2>
		<div>
			<p class="divaText" style="font-size:2.5vw; text-align:left; margin-bottom:0">Payments</p>
			<p>Subscriptions are charged at the time of delivery,
				for your delivery months, you will recieve an email outlining what you can expect in this months subscription,
				as well as a payment summary</p>
		</div>
		<div>
			<p class="divaText" style="font-size:2.5vw; text-align:left; margin-bottom:0">Deliveries</p>
			<p>	After Payment, or your order will be shipped. You can expect to recieve your order within 5 working days.
			<br /> At this point we can only accept deliveries within NZ</p>
		</div>
		<div>
			<p class="divaText" style="font-size:2.5vw; text-align:left; margin-bottom:0">Making Changes</p>
			<p>	Super easy, just get in touch with our WINZE team </p>
		</div>
	</div>
</div>

@if (Model.SubItems.Count > 0)
{
	<div class="row">
		@foreach (var item in Model.SubItems)
		{
			var imageName = "";
			switch (item.ProductName)
			{
				case "CheapandCheerful":
					imageName = "cc.jpg";
					break;
				case "TreatYourself":
					imageName = "treat.jpg";
					break;
				case "CMSelection":
					imageName = "cellar.jpg";
					break;
				default:
					imageName = "default.jpg";
					break;
			}
			
			<div class="row col" style="padding:10px">
				<h1 class="boldTitle" style="font-size:4rem; text-align:left">@Html.DisplayFor(modelItem => item.ProductName)</h1>
				<img src="~/Images/sub/@imageName" style="width:300px; height:350px;" />
				
				<div>
					<h2 class="text-start">Type: @Html.DisplayFor(modelItem => item.Type)</h2>
					<a class="btn btn-outline-secondary btn-md" asp-action="Red" asp-route-id="@item.ProductId">Red</a>
					<a class="btn btn-outline-primary btn-md" asp-action="White" asp-route-id="@item.ProductId">White</a>
					<a class="btn btn-outline-info btn-md" asp-action="Mixed" asp-route-id="@item.ProductId">Mixed</a>
				</div>
				<div style="margin:10px">
					<h2 class="text-start">Number of Bottles: @Html.DisplayFor(modelItem => item.NumOfBottles)</h2>
					<a class="btn btn-outline-secondary btn-md" asp-action="Bottles3" asp-route-id="@item.ProductId">3</a>
					<a class="btn btn-outline-primary btn-md" asp-action="Bottles6" asp-route-id="@item.ProductId">6</a>
					<a class="btn btn-outline-info btn-md" asp-action="Bottles12" asp-route-id="@item.ProductId">12</a>
				</div>
				<div style="margin:10px">
					<h2 class="text-start">Months: @Html.DisplayFor(modelItem => item.Frequency)</h2>
					<a class="btn btn-outline-secondary btn-md" asp-action="Freq3" asp-route-id="@item.ProductId">3</a>
					<a class="btn btn-outline-primary btn-md" asp-action="Freq6" asp-route-id="@item.ProductId">6</a>
					<a class="btn btn-outline-info btn-md" asp-action="Freq12" asp-route-id="@item.ProductId">12</a>
				</div>
				<div style="margin:10px">
					<h2></h2>
					<a class="btn btn-danger btn-md" asp-action="Remove" asp-route-id="@item.ProductId">Remove</a>
				</div>
				</div>
			
		}
		<div class="row">
			<div class="text-end" colspan="8">
				<a class="btn btn-danger" asp-controller="Home" asp-action="Clear">Clear</a>
				<a class="btn btn-primary" asp-controller="Home" asp-action="Subscription">Select another Subscription</a>
				<a class="btn btn-primary" asp-controller="Home" asp-action="Checkout">Checkout</a>
			</div>
		</div>
	</div>
}
else
{
	<h1>No Subscription</h1>
	<a class="btn btn-primary" asp-controller="Home" asp-action="Subscription">Select a new Subscription</a>
}




@*@using (Html.BeginForm("BottlesRadio", "Home", FormMethod.Post))
	{
	<div>
	<h1>Number of Bottles to be shipped</h1>
	6 @Html.RadioButton("NumOfBottles", "6")<br>
	12 @Html.RadioButton("NumOfBottles", "12")<br>
	</div>
	<input type="submit" value="submit"/>
	}               *@
