@model IEnumerable<CapstoneWine.Models.OrdersModel>

<link rel="stylesheet" href="~/css/admin.css" />

@{
	ViewData["Title"] = "Orders";
}

<section class="top-sect">
	<a class="table-title">Orders</a>
	<a class="table-title inactive" asp-controller="Subscriptions" asp-action="Index">Subscriptions</a>
	<a class="table-title inactive" asp-controller="Wines" asp-action="Index">Wines</a>
</section>

<form class="search-row" method="get" action="/Orders/Index">
	<td>
		<input class="search-bar" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["CurrentFilter"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
	</td>
	<td>
		<input type="submit" value="Search" class="search-btn" />
	</td>
	@if (ViewData["CurrentFilter"] != "")
	{
		<a class="m-2" asp-action="Index">Clear search</a>
	}
</form>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table style="width: 100%;">
	<thead>
		<tr>
			<th>Order Date</th>
			<th>User ID</th>
			<th>Wine ID</th>
			<th>Subscription ID</th>
			<th>Quantity</th>
			<th>Delivery Address</th>
			<th>Delivery Charge</th>
			<th>Total Cost</th>
			<th>Status</th>
			<th>Reward Points</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.OrderDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.wine.WineID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.subscription.SubID)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Quantity)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DeliveryAdd)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DeliveryCharge)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TotalCost)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrderStatus)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RewardPoints)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
