@model IEnumerable<CapstoneWine.Models.WinesModel>

<link rel="stylesheet" href="~/css/searchproducts.css" />

@{
	ViewData["Title"] = ViewData["CurrentFilter"];
}


<h1 class="title">Browse "@ViewData["CurrentFilter"]"</h1>
<a class="back-text" asp-controller="Shop" asp-action="Index">Back to shop</a>

<div class="shop-content">
	@foreach (var item in Model)
	{
		<div class="product-box">
			<img class="img" src="@Html.DisplayFor(modelItem => item.Image)" />
			<div class="price h5">$@Html.DisplayFor(modelItem => item.Price)</div>
			<div class="quantity">@Html.DisplayFor(modelItem => item.Quantity)</div>
			<a class="cart" asp-controller="Cart" asp-action="Add" asp-route-id="@item.WineID">Add to Cart</a>
			<div class="blurb">
				<div class="product-title">@Html.DisplayFor(modelItem => item.WineName)</div>
				<p>
					@Html.DisplayFor(modelItem => item.Blurb)
				</p>
			</div>
		</div>
	}
</div>

