@model IEnumerable<CapstoneWine.Models.ViewModels.CustomerViewModel>
<link rel="stylesheet" href="~/css/admin.css" />

@{
	ViewData["Title"] = "Customers";
}

<section class="top-sect">
	<a class="table-title inactive" asp-controller="Orders" asp-action="Index">Orders</a>
	<a class="table-title inactive" asp-controller="Subscriptions" asp-action="Index">Subscriptions</a>
	<a class="table-title inactive" asp-controller="Wines" asp-action="Index">Wines</a>
	<a class="table-title">Customers</a>
</section>

<form class="search-row" method="get" action="/Customer/Index">
	<td>
		<input class="search-bar" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["CurrentFilter"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
	</td>
	<td>
		<input type="submit" value="Search" class="search-btn" />
	</td>
	@if (ViewData["CurrentFilter"] != "")
	{
		<a class="m-2" asp-action="Index">Clear search</a>
	}
</form>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table style="width: 100%">
	<thead>
		<tr>
			<th data-cell="identity key">
				@Html.DisplayNameFor(model => model.Customer.IdentityKey)
			</th>
			<th data-cell="first name">
				@Html.DisplayNameFor(model => model.Customer.FirstName)
			</th>
			<th data-cell="last name">
				@Html.DisplayNameFor(model => model.Customer.LastName)
			</th>
			<th data-cell="street address">
				@Html.DisplayNameFor(model => model.Customer.StreetAddress)
			</th>
			<th data-cell="suburb">
				@Html.DisplayNameFor(model => model.Customer.Suburb)
			</th>
			<th data-cell="city">
				@Html.DisplayNameFor(model => model.Customer.City)
			</th>
			<th data-cell="post-code">
				@Html.DisplayNameFor(model => model.Customer.PostCode)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td data-cell="identity key">
					@Html.DisplayFor(modelItem => item.Customer.IdentityKey)
				</td>
				<td data-cell="first name">
					@Html.DisplayFor(modelItem => item.Customer.FirstName)
				</td >
				<td data-cell="last name">
					@Html.DisplayFor(modelItem => item.Customer.LastName)
				</td>
				<td data-cell="street address">
					@Html.DisplayFor(modelItem => item.Customer.StreetAddress)
				</td>
				<td data-cell="suburb">
					@Html.DisplayFor(modelItem => item.Customer.Suburb)
				</td>
				<td data-cell="city">
					@Html.DisplayFor(modelItem => item.Customer.City)
				</td>
				<td data-cell="post-code">
					@Html.DisplayFor(modelItem => item.Customer.PostCode)
				</td>

				<td>
					<a asp-action="Edit" asp-route-id="@item.Customer.ID">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Customer.ID">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Customer.ID">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
