@model CapstoneWine.Models.ViewModels.CustomerViewModel

@{
	ViewData["Title"] = "My Profile";
}

<style>
	.details-section {
		margin-bottom: 1rem;
	}

	.detail-box {
		display: grid;
		gap: 1rem;
		padding: 1rem;
		border-radius: 10px;
		background-color: rgba(200, 200, 200, 0.2);
	}

	.detail-row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		max-width: 400px;
	}

		.detail-row span:nth-child(1) {
			font-weight: bold;
		}




	.wrapper {
		display: grid;
	}

	.info-row {
		display: grid;
		grid-template-columns: repeat(6, 1fr); 
		padding: 10px 20px;
		border-radius: 0 0 10px 10px;
		background-color: var(--blue);
	}

	.header {
		border-radius: 20px 20px 0 0;
		background-color: rgba(13, 110, 253, 0.63);
		border-bottom: 1px solid rgba(200, 200, 200, 0.12)
	}
</style>


<section class="details-section">
	<div class="detail-box" style="max-width: 600px;">
		<h4>Basic Information</h4>
		<div class="detail-row">
			<span>First Name:</span>
			<span>@Model.Customer.FirstName</span>
		</div>
		<div class="detail-row">
			<span>Last Name:</span>
			<span>@Model.Customer.LastName</span>
		</div>
		<div class="detail-row">
			<span>Street Address:</span>
			<span>@Model.Customer.StreetAddress</span>
		</div>
		<div class="detail-row">
			<span>Suburb:</span>
			<span>@Model.Customer.Suburb</span>
		</div>
		<div class="detail-row">
			<span>City</span>
			<span>@Model.Customer.City</span>
		</div>
		<div class="detail-row">
			<span>Post Code:</span>
			<span>@Model.Customer.PostCode</span>
		</div>
		<a class="mt-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit Information</a>
	</div>
</section>

<section class="details-section">
	<div class="detail-box" style="max-width: 600px;">
		<h4>Sub Details</h4>
		<div class="detail-row">
			<span>Your Subscription:</span>
			<span>@Model.Subscription.SubName</span>
		</div>
		<div class="detail-row">
			<span>Type:</span>
			<span>@Model.Subscription.Type</span>
		</div>
		<div class="detail-row">
			<span>Frequency:</span>
			<span>@Model.Subscription.Frequency</span>
		</div>
		<div class="detail-row">
			<span>Number of Bottles:</span>
			<span>@Model.Subscription.NumOfBottles</span>
		</div>
		<div class="detail-row">
			<span>Reward Points:</span>
			<span>@Model.Subscription.RewardPoints</span>
		</div>
	</div>
</section>


<section class="details-section">
	<div class="detail-box" style="max-width: 600px;">
		<h4>Order History</h4>
		<div class="detail-row">
			<span>Wine:</span>
			<span>@Model.Wine.WineName</span>
		</div>
		<div class="detail-row">
			<span>Quantity:</span>
			<span>@Model.Order.Quantity</span>
		</div>
		<div class="detail-row">
			<span>Delivery Address:</span>
			<span>@Model.Order.DeliveryAdd</span>
		</div>
		<div class="detail-row">
			<span>Delivery Charge:</span>
			<span>@Model.Order.DeliveryCharge</span>
		</div>
		<div class="detail-row">
			<span>Total Cost:</span>
			<span>@Model.Order.TotalCost</span>
		</div>
		<div class="detail-row">
			<span>Order Date</span>
			<span>@Model.Order.OrderDate</span>
		</div>
		<div class="detail-row">
			<span>Order Status:</span>
			<span>@Model.Order.OrderStatus</span>
		</div>
	</div>
</section>

