@model CapstoneWine.Models.SubscriptionsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subscriptions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfBottles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfBottles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RewardPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RewardPoints)
        </dd>
                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BtlPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BtlPrice)
        </dd>
                <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerDel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerDel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SubID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
