@model IEnumerable<CapstoneWine.Models.SubscriptionsModel>

<link rel="stylesheet" href="~/css/admin.css" />


@{
	ViewData["Title"] = "Subscriptions";
}

<section class="top-sect">
	<a class="table-title inactive" asp-controller="Orders" asp-action="Index">Orders</a>
	<a class="table-title">Subscriptions</a>
	<a class="table-title inactive" asp-controller="Wines" asp-action="Index">Wines</a>
</section>

<form class="search-row" method="get" action="/Subscriptions/Index">

	<td>
		<input class="search-bar" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["CurrentFilter"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
	</td>
	<td>
		<input type="submit" value="Search" class="search-btn" />
	</td>
	@if (ViewData["CurrentFilter"] != "")
	{
		<a asp-action="Index">Clear search</a>
	}
</form>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table style="width: 100%;">
	<thead>
		<tr>
			<th>Subscription Name</th>
			<th>Type</th>
			<th>Frequency</th>
			<th>No. Of Bottles</th>
			<th>Reward Points</th>
			<th>Bottle Price</th>
			<th>Price Per Delivery</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.SubName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Type)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Frequency)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NumOfBottles)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RewardPoints)
				<td>
					@Html.DisplayFor(modelItem => item.BtlPrice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PricePerDel)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.SubID">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.SubID">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.SubID">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
