@model IEnumerable<CapstoneWine.Models.WinesModel>

@{
    ViewData["Title"] = "Wines";
}

<h1>Wines</h1>
<form method="get" action="/Wines/Index">

    <td style="padding-right:940px">
    </td>
    <td>
        <input class="form-control" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["CurrentFilter"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
    </td>
    <td>
        <input type="submit" value="Search" class="btn btn-primary" />
    </td>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="color:white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blurb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blurb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WineID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WineID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WineID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
