@model IEnumerable<CapstoneWine.Models.WinesModel>

<link rel="stylesheet" href="~/css/admin.css" />


@{
    ViewData["Title"] = "Wines";
}

<section class="top-sect">
    <a class="table-title inactive" asp-controller="Orders" asp-action="Index">Orders</a>
    <a class="table-title inactive" asp-controller="Subscriptions" asp-action="Index">Subscriptions</a>
    <a class="table-title">Wines</a>
</section>


<form class="search-row" method="get" action="/Wines/Index">
    <td>
        <input class="search-bar" type="text" placeholder="Search for..." name="SearchString" value="@ViewData["CurrentFilter"]" aria-label="Search" aria-describedby="btnNavbarSearch" />
    </td>
    <td>
        <input type="submit" value="Search" class="search-btn" />
    </td>
    @if (ViewData["CurrentFilter"] != "")
    {
        <a asp-action="Index">Clear search</a>
    }
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="wines-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blurb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blurb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WineID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WineID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WineID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
